<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/at.ac.tuwien.big.stl.henshin/src/at/ac/tuwien/big/stl/henshin/HenshinRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="at.ac.tuwien.big.stl.henshin.HenshinRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="Example1-IAFProductionLine addBufferToMachine Example2-ShelfSawingProductionLine addBufferToMachine"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="at.ac.tuwien.big.stl.henshin"/>
</launchConfiguration>
